body{
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 16px;
}

ol{
  padding-left: 32px;
}

li{
  padding-bottom: 1.6px;
}

.board-row:after{
  clear: both;
  content: "";
  display: table;
}

.status{
  margin-bottom: 8px;
}

.square{
  background: #ffffff;
  border: 1px solid #333;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  margin-top: -1px;
  margin-right: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.square:focus{
  background: #ddd;
  outline: none;
}

.game{
  display: flex;
  flex-direction: row;
}

.game-info{
  margin-left: 16px;
}